# Ignore Python virtual environments
.venv/
venv/
ENV/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# VS Code settings
.vscode/
# MacOS system files
.DS_Store

*.csv
Lesson 10/QF627-G3-Programming and Computational Finance - 1142025 - 906 PM.zip
Lesson 10/QF627-G3-Programming and Computational Finance - 1142025 - 906 PM/headlines.zip
Lesson 10/QF627-G3-Programming and Computational Finance - 1142025 - 906 PM/Table of Contents.html
Lessons/Lesson 8_mock_session/QF627-G3-Programming and Computational Finance - 10212025 - 916 PM.zip
Lessons/Lesson 10/QF627-G3-Programming and Computational Finance - 1142025 - 906 PM/headlines.zip
Lessons/Lesson 10/QF627-G3-Programming and Computational Finance - 1142025 - 906 PM.zip
*.html
*.txt
exam/*
